.filter-container {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    color: white;

}

.filter {
    margin-right: 15px;
    font-size: 2rem;
}

.star {
    margin-left: 3px;
    font-size: 0.8rem;
    color: blue;
}