.movie-container {
    margin-top: 10vh;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    gap: 5%;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .poster-container {
        max-width: 30%;
        max-height: 70vh;
        overflow: hidden;
        display: flex;
        justify-content: center;

    }

}

.image {
    height: 100%;
}

.movie-content-container {
    max-width: 65%;
}

@media (max-width: 767px) {
    .movie-container {
        flex-direction: column;
    }

    .poster-container {
        order: 1;
        width: 100%;
        height: 50vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .movie-content-container {
        order: 2;
        max-width: 100%;
    }
}

.movie-content-container h3 {
    font-size: 3rem;
    color: yellow;
    margin-bottom: 0;
}

.movie-content-container small {
    font-size: 1.5rem;
    color: orange;
}

.movie-content-container p {
    font-size: 1.5rem;
    color: white;
}



.back {
    color: yellow;
    font-size: 1.5rem;
    text-decoration: none;
}

.languajes-list {
    padding: 0;
    color: white;
    list-style-type: none;
    font-size: 1.5rem;
}

.movie-container h5 {
    color: orange;
    font-size: 1.5rem;
}

.error-mesage {
    margin: 15%;
    font-style: italic;
    color: white;
    text-align: center;
    color: yellow;
}