.movie-frame {
    width: 15vw;
    height: 350px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

@media (max-width: 767px) {
    .movie-frame {
        width: 25vw;
    }
}

@media (max-width: 576px) {
    .movie-frame {
        width: 50vw;
    }
}



.movie {
    height: 100%;
}

.contenedor-general {
    margin-top: 15px;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.alert {
    color: rgb(255, 0, 0, 0.5);
    font-size: 2rem;
    display: block;
    text-align: center;
}

.scroll-alert {
    color: rgb(255, 0, 0, 0.5);
    display: block;
    text-align: center;
    font-style: italic;
    font-size: 2rem;
}

.next-page {
    font-style: italic;
    font-size: 0.5rem;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    text-align: center;
    display: block;
}

.font-size {
    font-size: 0.5rem;
}